=begin
#Temper Cloud API

#Knowledge base management API for temper cloud

The version of the OpenAPI document: 0.5.4

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Temper::Generated
  class AdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # POST /api/access/admin/principals/:id/approve — admit a principal directly (admin only).
    # @param id [String] Profile ID of the principal
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def admin_approve_principal(id, opts = {})
      admin_approve_principal_with_http_info(id, opts)
      nil
    end

    # POST /api/access/admin/principals/:id/approve — admit a principal directly (admin only).
    # @param id [String] Profile ID of the principal
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_approve_principal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_approve_principal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_approve_principal"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/principals/{id}/approve'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_approve_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_approve_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PATCH /api/access/admin/reviews/:id — record that a reconsideration was handled.
    # Returns `204`: there is no updated resource worth handing back, because closing changes nothing the caller can act on further. It moves **no** standing — readmitting a principal is `POST /api/access/admin/approve`, deliberately a different call.
    # @param id [String] Reconsideration request ID
    # @param close_review_body [CloseReviewBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def admin_close_review(id, close_review_body, opts = {})
      admin_close_review_with_http_info(id, close_review_body, opts)
      nil
    end

    # PATCH /api/access/admin/reviews/:id — record that a reconsideration was handled.
    # Returns &#x60;204&#x60;: there is no updated resource worth handing back, because closing changes nothing the caller can act on further. It moves **no** standing — readmitting a principal is &#x60;POST /api/access/admin/approve&#x60;, deliberately a different call.
    # @param id [String] Reconsideration request ID
    # @param close_review_body [CloseReviewBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_close_review_with_http_info(id, close_review_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_close_review ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_close_review"
      end
      # verify the required parameter 'close_review_body' is set
      if @api_client.config.client_side_validation && close_review_body.nil?
        fail ArgumentError, "Missing the required parameter 'close_review_body' when calling AdminApi.admin_close_review"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/reviews/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(close_review_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_close_review",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_close_review\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/requests/count — how many join requests are outstanding (admin only).
    # [`list_pending`] without the rows, for `temper warmup`. Same admin proof, so a caller who may not read the queue still gets a `403` — never a `0`, which would tell them the queue is empty while refusing to let them see it.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [QueueCount]
    def admin_count_join_requests(opts = {})
      data, _status_code, _headers = admin_count_join_requests_with_http_info(opts)
      data
    end

    # GET /api/access/admin/requests/count — how many join requests are outstanding (admin only).
    # [&#x60;list_pending&#x60;] without the rows, for &#x60;temper warmup&#x60;. Same admin proof, so a caller who may not read the queue still gets a &#x60;403&#x60; — never a &#x60;0&#x60;, which would tell them the queue is empty while refusing to let them see it.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(QueueCount, Integer, Hash)>] QueueCount data, response status code and response headers
    def admin_count_join_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_count_join_requests ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/requests/count'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QueueCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_count_join_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_count_join_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/reviews/count — how many reconsiderations are open (admin only).
    # [`list_reviews`] without the rows. Same admin proof, same `403`-not-`0` rule as its neighbour.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [QueueCount]
    def admin_count_reviews(opts = {})
      data, _status_code, _headers = admin_count_reviews_with_http_info(opts)
      data
    end

    # GET /api/access/admin/reviews/count — how many reconsiderations are open (admin only).
    # [&#x60;list_reviews&#x60;] without the rows. Same admin proof, same &#x60;403&#x60;-not-&#x60;0&#x60; rule as its neighbour.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(QueueCount, Integer, Hash)>] QueueCount data, response status code and response headers
    def admin_count_reviews_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_count_reviews ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/reviews/count'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QueueCount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_count_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_count_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/access/admin/principals/:id/deactivate — deactivate a principal (admin only).
    # @param id [String] Profile ID of the principal
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def admin_deactivate_principal(id, opts = {})
      admin_deactivate_principal_with_http_info(id, opts)
      nil
    end

    # POST /api/access/admin/principals/:id/deactivate — deactivate a principal (admin only).
    # @param id [String] Profile ID of the principal
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_deactivate_principal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_deactivate_principal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_deactivate_principal"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/principals/{id}/deactivate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_deactivate_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_deactivate_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/access/admin/demote — revoke a profile's system-admin grant (admin only).
    # The manual governance twin of `promote_admin`; the automatic path is demotion-by-transition in `standing_service::apply` (Revoke/Deactivate demote). Unlike its older sibling above, it carries NO handler-side authz: the gate lives in `access_service::demote_admin` (the F-3 posture the `audit-handler-authz-drift` tripwire pins). The handler extracts actor + subject and dispatches.
    # @param demote_admin_request [DemoteAdminRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def admin_demote(demote_admin_request, opts = {})
      admin_demote_with_http_info(demote_admin_request, opts)
      nil
    end

    # POST /api/access/admin/demote — revoke a profile&#39;s system-admin grant (admin only).
    # The manual governance twin of &#x60;promote_admin&#x60;; the automatic path is demotion-by-transition in &#x60;standing_service::apply&#x60; (Revoke/Deactivate demote). Unlike its older sibling above, it carries NO handler-side authz: the gate lives in &#x60;access_service::demote_admin&#x60; (the F-3 posture the &#x60;audit-handler-authz-drift&#x60; tripwire pins). The handler extracts actor + subject and dispatches.
    # @param demote_admin_request [DemoteAdminRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_demote_with_http_info(demote_admin_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_demote ...'
      end
      # verify the required parameter 'demote_admin_request' is set
      if @api_client.config.client_side_validation && demote_admin_request.nil?
        fail ArgumentError, "Missing the required parameter 'demote_admin_request' when calling AdminApi.admin_demote"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/demote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(demote_admin_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_demote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_demote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # `POST /api/admin/erasure` — the operator's execute door.
    # The gate runs here, before dispatch (`require_erasure_operator`); the service takes the proof and attributes the act to `admin.actor()`.  The request reference tolerates retries: a retried POST with the SAME reference re-executes as a no-op completion (the subject is already tombstoned, so the act completes with `already_erased: true`). Correlation is INDEXED, never unique (20260624000001_canonical_schema.sql:491) — the reference pairs the act's events, it does not deduplicate the door.
    # @param erasure_execute_request [ErasureExecuteRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ErasureExecuteResponse]
    def admin_erase_principal(erasure_execute_request, opts = {})
      data, _status_code, _headers = admin_erase_principal_with_http_info(erasure_execute_request, opts)
      data
    end

    # &#x60;POST /api/admin/erasure&#x60; — the operator&#39;s execute door.
    # The gate runs here, before dispatch (&#x60;require_erasure_operator&#x60;); the service takes the proof and attributes the act to &#x60;admin.actor()&#x60;.  The request reference tolerates retries: a retried POST with the SAME reference re-executes as a no-op completion (the subject is already tombstoned, so the act completes with &#x60;already_erased: true&#x60;). Correlation is INDEXED, never unique (20260624000001_canonical_schema.sql:491) — the reference pairs the act&#39;s events, it does not deduplicate the door.
    # @param erasure_execute_request [ErasureExecuteRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ErasureExecuteResponse, Integer, Hash)>] ErasureExecuteResponse data, response status code and response headers
    def admin_erase_principal_with_http_info(erasure_execute_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_erase_principal ...'
      end
      # verify the required parameter 'erasure_execute_request' is set
      if @api_client.config.client_side_validation && erasure_execute_request.nil?
        fail ArgumentError, "Missing the required parameter 'erasure_execute_request' when calling AdminApi.admin_erase_principal"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/admin/erasure'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(erasure_execute_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ErasureExecuteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_erase_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_erase_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # `POST /api/admin/resources/erasure` — the operator's execute door.
    # @param resource_erasure_execute_request [ResourceErasureExecuteRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceErasureExecuteResponse]
    def admin_erase_resource(resource_erasure_execute_request, opts = {})
      data, _status_code, _headers = admin_erase_resource_with_http_info(resource_erasure_execute_request, opts)
      data
    end

    # &#x60;POST /api/admin/resources/erasure&#x60; — the operator&#39;s execute door.
    # @param resource_erasure_execute_request [ResourceErasureExecuteRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceErasureExecuteResponse, Integer, Hash)>] ResourceErasureExecuteResponse data, response status code and response headers
    def admin_erase_resource_with_http_info(resource_erasure_execute_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_erase_resource ...'
      end
      # verify the required parameter 'resource_erasure_execute_request' is set
      if @api_client.config.client_side_validation && resource_erasure_execute_request.nil?
        fail ArgumentError, "Missing the required parameter 'resource_erasure_execute_request' when calling AdminApi.admin_erase_resource"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/admin/resources/erasure'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_erasure_execute_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceErasureExecuteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_erase_resource",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_erase_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/settings — read FULL system settings (admin only).
    # Unlike the public `GET /api/access/settings`, this returns `gating_team_slug` and `updated`, which an admin needs to administer the gate.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [SystemSettings]
    def admin_get_settings(opts = {})
      data, _status_code, _headers = admin_get_settings_with_http_info(opts)
      data
    end

    # GET /api/access/admin/settings — read FULL system settings (admin only).
    # Unlike the public &#x60;GET /api/access/settings&#x60;, this returns &#x60;gating_team_slug&#x60; and &#x60;updated&#x60;, which an admin needs to administer the gate.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(SystemSettings, Integer, Hash)>] SystemSettings data, response status code and response headers
    def admin_get_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_get_settings ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SystemSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_get_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_get_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/requests — list pending join requests (admin only).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<JoinRequestWithProfile>]
    def admin_list_join_requests(opts = {})
      data, _status_code, _headers = admin_list_join_requests_with_http_info(opts)
      data
    end

    # GET /api/access/admin/requests — list pending join requests (admin only).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<JoinRequestWithProfile>, Integer, Hash)>] Array<JoinRequestWithProfile> data, response status code and response headers
    def admin_list_join_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_list_join_requests ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/requests'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<JoinRequestWithProfile>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_list_join_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_list_join_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/profiles — the directory list, or the state card when `?email=` resolves exactly one verified address.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :standing Filter by admission state: &#x60;denied|requested|approved|revoked|deactivated|needs-access|all&#x60;. Default &#x60;needs-access&#x60; — every non-approved state INCLUDING no standing row (the operator&#39;s work queue). Case-insensitive.
    # @option opts [String] :email_contains Case-insensitive LITERAL substring matched over the profile&#39;s verified auth-link emails. &#x60;%&#x60;, &#x60;_&#x60; and &#x60;\\&#x60; have no wildcard meaning here. When set, each row carries &#x60;matched_email&#x60;.
    # @option opts [String] :email EXACT, case-insensitive match over verified auth-link emails. When present the route answers with the single matching profile&#39;s state card (not a page): the one place a human-controlled address becomes a target UUID. Zero matches → 404; more than one profile verified-owns the address → 404 whose body names the collision. Mutually exclusive with &#x60;email_contains&#x60;.
    # @option opts [String] :team Restrict to members of this team, by slug or UUID.
    # @option opts [Integer] :limit Page size. Clamped server-side: default 50, capped at 200.
    # @option opts [Integer] :offset Page offset. Floor 0, capped at 10000 (depth protection).
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AdminProfilesListAnswer]
    def admin_list_profiles(opts = {})
      data, _status_code, _headers = admin_list_profiles_with_http_info(opts)
      data
    end

    # GET /api/access/admin/profiles — the directory list, or the state card when &#x60;?email&#x3D;&#x60; resolves exactly one verified address.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :standing Filter by admission state: &#x60;denied|requested|approved|revoked|deactivated|needs-access|all&#x60;. Default &#x60;needs-access&#x60; — every non-approved state INCLUDING no standing row (the operator&#39;s work queue). Case-insensitive.
    # @option opts [String] :email_contains Case-insensitive LITERAL substring matched over the profile&#39;s verified auth-link emails. &#x60;%&#x60;, &#x60;_&#x60; and &#x60;\\&#x60; have no wildcard meaning here. When set, each row carries &#x60;matched_email&#x60;.
    # @option opts [String] :email EXACT, case-insensitive match over verified auth-link emails. When present the route answers with the single matching profile&#39;s state card (not a page): the one place a human-controlled address becomes a target UUID. Zero matches → 404; more than one profile verified-owns the address → 404 whose body names the collision. Mutually exclusive with &#x60;email_contains&#x60;.
    # @option opts [String] :team Restrict to members of this team, by slug or UUID.
    # @option opts [Integer] :limit Page size. Clamped server-side: default 50, capped at 200.
    # @option opts [Integer] :offset Page offset. Floor 0, capped at 10000 (depth protection).
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AdminProfilesListAnswer, Integer, Hash)>] AdminProfilesListAnswer data, response status code and response headers
    def admin_list_profiles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_list_profiles ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/profiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'standing'] = opts[:'standing'] if !opts[:'standing'].nil?
      query_params[:'email_contains'] = opts[:'email_contains'] if !opts[:'email_contains'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'team'] = opts[:'team'] if !opts[:'team'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminProfilesListAnswer'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_list_profiles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_list_profiles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/reviews — list undecided reconsideration requests.
    # The read half of the inbox `kb_principal_review_requests` always described itself as and never had. Same operator-only posture as the join-request queue above: the `&SystemAdmin` proof is minted here and required by the service.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<ReviewRequestWithProfile>]
    def admin_list_reviews(opts = {})
      data, _status_code, _headers = admin_list_reviews_with_http_info(opts)
      data
    end

    # GET /api/access/admin/reviews — list undecided reconsideration requests.
    # The read half of the inbox &#x60;kb_principal_review_requests&#x60; always described itself as and never had. Same operator-only posture as the join-request queue above: the &#x60;&amp;SystemAdmin&#x60; proof is minted here and required by the service.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(Array<ReviewRequestWithProfile>, Integer, Hash)>] Array<ReviewRequestWithProfile> data, response status code and response headers
    def admin_list_reviews_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_list_reviews ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/reviews'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ReviewRequestWithProfile>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_list_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_list_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/access/admin/promote — promote a profile to system admin (admin only).
    # Grants `kb_principal_governance` + `approved` standing (the real admin-ness under D11). `team_id` omitted ⇒ the configured gating team for the retained side-effect `owner` row.
    # @param promote_admin_request [PromoteAdminRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [TeamMemberRow]
    def admin_promote(promote_admin_request, opts = {})
      data, _status_code, _headers = admin_promote_with_http_info(promote_admin_request, opts)
      data
    end

    # POST /api/access/admin/promote — promote a profile to system admin (admin only).
    # Grants &#x60;kb_principal_governance&#x60; + &#x60;approved&#x60; standing (the real admin-ness under D11). &#x60;team_id&#x60; omitted ⇒ the configured gating team for the retained side-effect &#x60;owner&#x60; row.
    # @param promote_admin_request [PromoteAdminRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(TeamMemberRow, Integer, Hash)>] TeamMemberRow data, response status code and response headers
    def admin_promote_with_http_info(promote_admin_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_promote ...'
      end
      # verify the required parameter 'promote_admin_request' is set
      if @api_client.config.client_side_validation && promote_admin_request.nil?
        fail ArgumentError, "Missing the required parameter 'promote_admin_request' when calling AdminApi.admin_promote"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/promote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(promote_admin_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TeamMemberRow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_promote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_promote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/access/admin/principals/:id/reactivate — restore a deactivated principal (admin only).
    # @param id [String] Profile ID of the principal
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def admin_reactivate_principal(id, opts = {})
      admin_reactivate_principal_with_http_info(id, opts)
      nil
    end

    # POST /api/access/admin/principals/:id/reactivate — restore a deactivated principal (admin only).
    # @param id [String] Profile ID of the principal
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_reactivate_principal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_reactivate_principal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_reactivate_principal"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/principals/{id}/reactivate'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_reactivate_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_reactivate_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/machine-clients/{id}/rebind — point a fresh IdP `client_id` at the agent profile an existing machine client holds (system admin only). Mounted by `routes/admin.rs`, apart from its owner-gated siblings: team ownership cannot bound the reach a rebind inherits.
    # @param id [String] The machine client whose profile the new client id inherits
    # @param rebind_machine_request [RebindMachineRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [MachineClient]
    def admin_rebind_machine_client(id, rebind_machine_request, opts = {})
      data, _status_code, _headers = admin_rebind_machine_client_with_http_info(id, rebind_machine_request, opts)
      data
    end

    # POST /api/machine-clients/{id}/rebind — point a fresh IdP &#x60;client_id&#x60; at the agent profile an existing machine client holds (system admin only). Mounted by &#x60;routes/admin.rs&#x60;, apart from its owner-gated siblings: team ownership cannot bound the reach a rebind inherits.
    # @param id [String] The machine client whose profile the new client id inherits
    # @param rebind_machine_request [RebindMachineRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(MachineClient, Integer, Hash)>] MachineClient data, response status code and response headers
    def admin_rebind_machine_client_with_http_info(id, rebind_machine_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_rebind_machine_client ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_rebind_machine_client"
      end
      # verify the required parameter 'rebind_machine_request' is set
      if @api_client.config.client_side_validation && rebind_machine_request.nil?
        fail ArgumentError, "Missing the required parameter 'rebind_machine_request' when calling AdminApi.admin_rebind_machine_client"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/machine-clients/{id}/rebind'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rebind_machine_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MachineClient'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_rebind_machine_client",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_rebind_machine_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/access/admin/auto-join/reconcile — converge every auto-join team's roster to the standing-approved population (admin only). Returns the (team, profile) pairs added plus the touched teams that also carry SAML group mappings (whose new native rows pre-empt IdP role assertions); an empty `added` means the instance was already converged.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ReconcileAutoJoinOutcome]
    def admin_reconcile_auto_join(opts = {})
      data, _status_code, _headers = admin_reconcile_auto_join_with_http_info(opts)
      data
    end

    # POST /api/access/admin/auto-join/reconcile — converge every auto-join team&#39;s roster to the standing-approved population (admin only). Returns the (team, profile) pairs added plus the touched teams that also carry SAML group mappings (whose new native rows pre-empt IdP role assertions); an empty &#x60;added&#x60; means the instance was already converged.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ReconcileAutoJoinOutcome, Integer, Hash)>] ReconcileAutoJoinOutcome data, response status code and response headers
    def admin_reconcile_auto_join_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_reconcile_auto_join ...'
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/auto-join/reconcile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReconcileAutoJoinOutcome'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_reconcile_auto_join",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_reconcile_auto_join\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Operator-only re-embed trigger: `POST /api/embed/admin/reembed`.
    # Enqueues embed jobs for resources holding **stale** chunks in the requested scope; the per-minute drain then does the work. This endpoint is the *trigger*, never the engine — it returns as soon as the jobs are queued.  Nothing is marked dirty. Staleness is *derived* (`embedding IS NULL OR embedded_with IS DISTINCT FROM <current model>`), so this is idempotent, safe to re-run, and safe to run while the drain is mid-flight: it simply picks up whatever is still stale. A resource that already has a live job is skipped, so it can never double-queue.  Admin-gated on the caller's own identity (`is_system_admin`) rather than the drain's shared secret: this is a human operator action, and it should work with the operator's normal login instead of requiring them to hold a deploy secret.  Documented under the `Admin` tag with the rest of the operator surface (`routes/admin.rs`). The drain and warm crons beside it stay out of the contract: their only caller holds a deploy secret.
    # @param reembed_request [ReembedRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ReembedSummary]
    def admin_reembed(reembed_request, opts = {})
      data, _status_code, _headers = admin_reembed_with_http_info(reembed_request, opts)
      data
    end

    # Operator-only re-embed trigger: &#x60;POST /api/embed/admin/reembed&#x60;.
    # Enqueues embed jobs for resources holding **stale** chunks in the requested scope; the per-minute drain then does the work. This endpoint is the *trigger*, never the engine — it returns as soon as the jobs are queued.  Nothing is marked dirty. Staleness is *derived* (&#x60;embedding IS NULL OR embedded_with IS DISTINCT FROM &lt;current model&gt;&#x60;), so this is idempotent, safe to re-run, and safe to run while the drain is mid-flight: it simply picks up whatever is still stale. A resource that already has a live job is skipped, so it can never double-queue.  Admin-gated on the caller&#39;s own identity (&#x60;is_system_admin&#x60;) rather than the drain&#39;s shared secret: this is a human operator action, and it should work with the operator&#39;s normal login instead of requiring them to hold a deploy secret.  Documented under the &#x60;Admin&#x60; tag with the rest of the operator surface (&#x60;routes/admin.rs&#x60;). The drain and warm crons beside it stay out of the contract: their only caller holds a deploy secret.
    # @param reembed_request [ReembedRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ReembedSummary, Integer, Hash)>] ReembedSummary data, response status code and response headers
    def admin_reembed_with_http_info(reembed_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_reembed ...'
      end
      # verify the required parameter 'reembed_request' is set
      if @api_client.config.client_side_validation && reembed_request.nil?
        fail ArgumentError, "Missing the required parameter 'reembed_request' when calling AdminApi.admin_reembed"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/embed/admin/reembed'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reembed_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReembedSummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_reembed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_reembed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PATCH /api/access/admin/requests/:id — approve or reject a join request (admin only).
    # @param id [String] Join request ID
    # @param review_request_body [ReviewRequestBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [JoinRequest]
    def admin_review_join_request(id, review_request_body, opts = {})
      data, _status_code, _headers = admin_review_join_request_with_http_info(id, review_request_body, opts)
      data
    end

    # PATCH /api/access/admin/requests/:id — approve or reject a join request (admin only).
    # @param id [String] Join request ID
    # @param review_request_body [ReviewRequestBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(JoinRequest, Integer, Hash)>] JoinRequest data, response status code and response headers
    def admin_review_join_request_with_http_info(id, review_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_review_join_request ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_review_join_request"
      end
      # verify the required parameter 'review_request_body' is set
      if @api_client.config.client_side_validation && review_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'review_request_body' when calling AdminApi.admin_review_join_request"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/requests/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(review_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'JoinRequest'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_review_join_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_review_join_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /api/access/admin/principals/:id/revoke — revoke a principal's admission (admin only).
    # @param id [String] Profile ID of the principal
    # @param revoke_principal_body [RevokePrincipalBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [nil]
    def admin_revoke_principal(id, revoke_principal_body, opts = {})
      admin_revoke_principal_with_http_info(id, revoke_principal_body, opts)
      nil
    end

    # POST /api/access/admin/principals/:id/revoke — revoke a principal&#39;s admission (admin only).
    # @param id [String] Profile ID of the principal
    # @param revoke_principal_body [RevokePrincipalBody] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def admin_revoke_principal_with_http_info(id, revoke_principal_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_revoke_principal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.admin_revoke_principal"
      end
      # verify the required parameter 'revoke_principal_body' is set
      if @api_client.config.client_side_validation && revoke_principal_body.nil?
        fail ArgumentError, "Missing the required parameter 'revoke_principal_body' when calling AdminApi.admin_revoke_principal"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/principals/{id}/revoke'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(revoke_principal_body)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_revoke_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_revoke_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /api/access/admin/profiles/{profile_id} — the principal state card.
    # @param profile_id [String] Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [AdminProfileCard]
    def admin_show_profile(profile_id, opts = {})
      data, _status_code, _headers = admin_show_profile_with_http_info(profile_id, opts)
      data
    end

    # GET /api/access/admin/profiles/{profile_id} — the principal state card.
    # @param profile_id [String] Profile ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(AdminProfileCard, Integer, Hash)>] AdminProfileCard data, response status code and response headers
    def admin_show_profile_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_show_profile ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling AdminApi.admin_show_profile"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/profiles/{profile_id}'.sub('{profile_id}', CGI.escape(profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AdminProfileCard'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_show_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_show_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # `POST /api/admin/erasure/survey` — the read-only survey beside the execute door (task 01a09628 item 2).
    # Gated here like execute (`require_erasure_operator`): a caller who is not a system admin gets the same 404 and no event. The survey is witnessed read-only: no events, no projection change — it previews, it never prepares.
    # @param erasure_survey_request [ErasureSurveyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ErasureSurveyResponse]
    def admin_survey_principal_erasure(erasure_survey_request, opts = {})
      data, _status_code, _headers = admin_survey_principal_erasure_with_http_info(erasure_survey_request, opts)
      data
    end

    # &#x60;POST /api/admin/erasure/survey&#x60; — the read-only survey beside the execute door (task 01a09628 item 2).
    # Gated here like execute (&#x60;require_erasure_operator&#x60;): a caller who is not a system admin gets the same 404 and no event. The survey is witnessed read-only: no events, no projection change — it previews, it never prepares.
    # @param erasure_survey_request [ErasureSurveyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ErasureSurveyResponse, Integer, Hash)>] ErasureSurveyResponse data, response status code and response headers
    def admin_survey_principal_erasure_with_http_info(erasure_survey_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_survey_principal_erasure ...'
      end
      # verify the required parameter 'erasure_survey_request' is set
      if @api_client.config.client_side_validation && erasure_survey_request.nil?
        fail ArgumentError, "Missing the required parameter 'erasure_survey_request' when calling AdminApi.admin_survey_principal_erasure"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/admin/erasure/survey'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(erasure_survey_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ErasureSurveyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_survey_principal_erasure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_survey_principal_erasure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # `POST /api/admin/resources/erasure/survey` — the read-only survey. The gate answers a caller who is not a system admin with the same 404 as execute and records nothing; an unknown id past the gate is a 404 too. The service's survey types serialize as-is (`Serialize` derived on them), so the door mirrors nothing field by field.
    # @param resource_erasure_survey_request [ResourceErasureSurveyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [ResourceErasureSurvey]
    def admin_survey_resource_erasure(resource_erasure_survey_request, opts = {})
      data, _status_code, _headers = admin_survey_resource_erasure_with_http_info(resource_erasure_survey_request, opts)
      data
    end

    # &#x60;POST /api/admin/resources/erasure/survey&#x60; — the read-only survey. The gate answers a caller who is not a system admin with the same 404 as execute and records nothing; an unknown id past the gate is a 404 too. The service&#39;s survey types serialize as-is (&#x60;Serialize&#x60; derived on them), so the door mirrors nothing field by field.
    # @param resource_erasure_survey_request [ResourceErasureSurveyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(ResourceErasureSurvey, Integer, Hash)>] ResourceErasureSurvey data, response status code and response headers
    def admin_survey_resource_erasure_with_http_info(resource_erasure_survey_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_survey_resource_erasure ...'
      end
      # verify the required parameter 'resource_erasure_survey_request' is set
      if @api_client.config.client_side_validation && resource_erasure_survey_request.nil?
        fail ArgumentError, "Missing the required parameter 'resource_erasure_survey_request' when calling AdminApi.admin_survey_resource_erasure"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/admin/resources/erasure/survey'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resource_erasure_survey_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ResourceErasureSurvey'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_survey_resource_erasure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_survey_resource_erasure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # PATCH /api/access/admin/settings — partial update of system settings (admin only).
    # @param update_settings_request [UpdateSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [SystemSettings]
    def admin_update_settings(update_settings_request, opts = {})
      data, _status_code, _headers = admin_update_settings_with_http_info(update_settings_request, opts)
      data
    end

    # PATCH /api/access/admin/settings — partial update of system settings (admin only).
    # @param update_settings_request [UpdateSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_temper_surface The calling surface, for event-ledger attribution. Accepted values are &#x60;cli&#x60; and &#x60;sdk&#x60;; an absent or unrecognized value attributes the write to &#x60;web&#x60;. This is provenance, never authorization — an unrecognized value degrades, it never rejects.
    # @return [Array<(SystemSettings, Integer, Hash)>] SystemSettings data, response status code and response headers
    def admin_update_settings_with_http_info(update_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.admin_update_settings ...'
      end
      # verify the required parameter 'update_settings_request' is set
      if @api_client.config.client_side_validation && update_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_settings_request' when calling AdminApi.admin_update_settings"
      end
      allowable_values = ["cli", "sdk"]
      if @api_client.config.client_side_validation && opts[:'x_temper_surface'] && !allowable_values.include?(opts[:'x_temper_surface'])
        fail ArgumentError, "invalid value for \"x_temper_surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/access/admin/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Temper-Surface'] = opts[:'x_temper_surface'] if !opts[:'x_temper_surface'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SystemSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"AdminApi.admin_update_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#admin_update_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
